<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Matchid</th>
      <th>Round</th>
      <th>Date</th>
      <th>Avg min game</th>
      <th>Avg seconds point</th>
      <th>Avg minutes set</th>
      <th>Tournament</th>
      <th>Year</th>
      <th>Match minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.matchId %></td>
        <td><%= match.round %></td>
        <td><%= match.date %></td>
        <td><%= match.avg_min_game %></td>
        <td><%= match.avg_seconds_point %></td>
        <td><%= match.avg_minutes_set %></td>
        <td><%= match.tournament %></td>
        <td><%= match.year %></td>
        <td><%= match.match_minutes %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
