<h1>Cart Items</h1>

<% @order_items.each do |item| %>
    <h3><%= item.product.name %></h3>
    <h5>£ <%= item.product.price %></h5>

    <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :product_id, :value => item.product.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Cart "%>
        <%#  JavaScript reload function to be implemented in future%>
        <%= link_to "Remove Items - Click and refresh page", order_item_path(item), method: :delete, remote: true, reload: true %>
    <% end %>
    <h4>Subtotal: <%= item.total %></h4>
    <br>
<% end %>

<h3>Cart Value before Offer: £ <%= current_order.subtotal %></h3>
<br>
<h3>Total Cart Value after Promotional Offer: £ <%= current_order.total %></h3>



<%= link_to "Back to Products", root_path %>

