
<div class="wrapper">

  <nav>
    <ul>
      <li><span>Navigation</span></li>
      <li><a class="active">Dashboard</a></li>
      <li><a>Sales Graph</a></li>
      <li><a>Orders</a></li>
      <li><a>Users</a></li>
      <li><a>Inventory</a></li>
      <li><span>Other</span></li>
      <li><a>GitHub</a></li>
     </ul>
  </nav>
  
  <main>
 <div class="flex-grid">
   
      <div>
        <h2><b>PRODUCTS VS QUANTITY</b></h2>
        <ul>
          <%= bar_chart Cart.group(:productId).sum(:quantity) %>
        </ul>
      </div>
   <div>
        <h2><b>PRODUCT VS TOTAL PRODUCTS SOLD</b></h2>
        <ul>
          <%= pie_chart Cart.group(:productId).count %>
        </ul>
      </div>
   
      <div>
        <h2><b>PRODUCT VS TOTAL SALES (£)</b></h2>
        <ul>
        <%= scatter_chart Cart.pluck(:productId, :price), xtitle: "Products ID", ytitle: "Total Sales" %>

        <%# bar_chart Cart.group(:productId).sum(:price) %>
      </div>
    </div>
    <div class="flex-grid">
      <div>
        <h2><b>ORDERS</b></h2>
         <% @users.each do |user| %> 
         <% @orders.each do |order| %>
         <% if user.email == order.userEmail %>
         <%= order.userEmail%>
        <ul>
          <li><b>Id:</b> <%= order.orderId %> <b>Products List:</b> <%= order.productsList %> 
          <b>Address:</b> <%= order.shippingAddress %><b>Order Date:</b> <%= order.orderDate %>
          
          </li>
        </ul>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex-grid">

     <div>
        <h2><b>USERS</b></h2>
         <% @users.each do |user| %> 
         <ul>
          <li><b>User Email:</b> <%= user.email %>  <%= link_to "Edit password", new_password_path(:user) %>
          </li>
        </ul>
        <% end %>
      
      </div>
    </div>
    <div class="flex-grid">
    <div>
        <h2><b>PRODUCTS INVENTORY</b></h2>
         <% @products.each do |product| %> 
         <ul>
           <li><b>Product:</b> <%= product.productName %>                                       
           <b>Availabile Quantiry:</b> <%= product.productAvailability %> </li>
        </ul>
        <% end %>
      </div>
    </div>
  </main>
</div>
<script type="text/javascript">
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>